// font //
$ff-main: 'Fraunces', serif;
$ff-sub: 'Montserrat', sans-serif;

// font size//
$ff-700: 3.75rem;
$ff-600: 3rem;
$ff-550: 2.5rem;
$ff-500: 2rem;
$ff-400: 1.5rem;
$ff-300: 1rem;

// font weight//
$fw-500: 500;
$fw-700: 700;
// color //
$color-btn: hsl(158, 36%, 37%);
$color-btn_active: hsl(156, 42%, 18%);
$color-bg: hsl(30, 38%, 92%);
$color-white: hsl(0, 0%, 100%);
$color-main: hsl(212, 21%, 14%);
$color-sub: hsl(228, 12%, 48%);
$color-price: hsl(158, 37%, 39%);

